<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
<connectionStrings><add name="TestContext" connectionString="data source=SCHOA4L25SQLWDS.ap.ds.army.mil;initial catalog=IIS_NEC_Common_test;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>